#!/usr/bin/env python
# -*- coding: utf-8 -*-

DEBUG = True
ADMINS = ('sysadmin@example.com')

DB_HOST = 'localhost'
DB_USER = ''
DB_PASS = ''
DB_NAME = 'tekstmelding'

API_KEYS = {
    'somesecretkey': 'appname'
}

MEMBERSHIP_PRICE_KR = 1

# Logging

LOGGING = {
    'version': 1,
    'disable_existing_loggers': True,
    'formatters': {
        'fmt': {
            'format': '%(asctime)s - %(name)s - %(levelname)s - %(message)s',
        },
    },

    'handlers': {
        'file': {
            'class': 'logging.handlers.RotatingFileHandler',
            'level': 'DEBUG',
            'formatter': 'fmt',
            'filename': '/tmp/tekstmelding-app.log',
        },
        'email': {
            'class': 'logging.handlers.SMTPHandler',
            'level': 'ERROR',
            'mailhost': ('localhost', 25),
            'fromaddr': 'noreply@example.com',
            'toaddrs': ADMINS,
            'subject': 'Tekstmelding FAIL',
        },
    },

    'loggers': {
        '': {
            'handlers': ['file', 'email'],
            'level': 'DEBUG',
            'propagate': False,
        },
    }
}

# Sendega

# Endpoint for HTTP POST/GET
SENDEGA_URL = 'https://smsc.sendega.com/SendSms.ashx'

# Endpoint for SOAP communication with Sendega
SENDEGA_WSDL = 'https://smsc.sendega.com/Content.asmx?WSDL'

# Our endpoint for delivery reports
SENDEGA_DLR = 'http://example.com/dlr'

# Our Sendega username
SENDEGA_USERNAME = ''

# Our Sendega password
SENDEGA_PASSWORD = ''

# Default sender of bulk text messages
SENDEGA_SENDER_BULK = 'DNS'

# Default sender of billing text messages, must be the short number
SENDEGA_SENDER_BILLING = '2454'
