DEBUG = True

DATABASE_HOST = 'localhost'
DATABASE_USER = 'inside'
DATABASE_PASS = ''
DATABASE_NAME = 'inside'


## Eurobate HTTP PUSH ##
########################

# Endpoint for bulk messages
EB_URL = 'http://dio.eurobate.com/push.php'

# Endpoint for billing messages
EB_PAYURL = 'http://dio.eurobate.com/push2.php'

# Our endpoint for delivery reports
EB_DLR = 'http://tekstmelding.neuf.no/dlr'

# Our Eurobate username
EB_USER = ''

# Our Eurobate password
EB_PASSWORD = ''

# This shows up as the sender of bulk text messages
EB_SENDER_BULK = 'DNS'

# This shows up as the sender of billing text messages
EB_SENDER_BILLING = '2090'

# Simulate message sending?
EB_SIMULATE = True
