#!/usr/bin/env python
# -*- coding: utf-8 -*-

DEBUG = True
ADMINS = ('sysadmin@example.com')

DB_HOST = 'localhost'
DB_USER = ''
DB_PASS = ''
DB_NAME = 'tekstmelding'

INSIDE_DB_HOST = 'localhost'
INSIDE_DB_USER = ''
INSIDE_DB_PASS = ''
INSIDE_DB_NAME = 'inside'

MEMBERSHIP_PRICE_KR = 1


## Sendega ##
#############

# Endpoint for HTTP POST/GET
SENDEGA_URL = 'https://smsc.sendega.com/SendSms.ashx'

# Endpoint for SOAP communication with Sendega
SENDEGA_WSDL = 'https://smsc.sendega.com/Content.asmx?WSDL'

# Our endpoint for delivery reports
SENDEGA_DLR = 'http://example.com/dlr'

# Our Sendega username
SENDEGA_USERNAME = ''

# Our Sendega password
SENDEGA_PASSWORD = ''

# Default sender of bulk text messages
SENDEGA_SENDER_BULK = 'DNS'

# Default sender of billing text messages, must be the short number
SENDEGA_SENDER_BILLING = '2454'
